<% content_for(:page_title, I18n.t(:title_works)) %>
<article class="page type-page hentry">
    <header class="entry-header">
        <div class="classic-caption">
            <h1 class="entry-title"><i class="icon-beaker"></i> <%= I18n.t :works_works_header %></h1>
            <p><%= smartypants(I18n.t(:works_works_description)) + " " + mail_to('max@kc.vc') %></p>
        </div>
    </header>

    <div class="entry-content">
    <div class="row-fluid archives">
        <div class="span4">
            <h3><%= I18n.t :works_academic %></h3>
            <ul class="icons icon-bubble-list nospace">
                <%= partial('partials/tagged_articles', :locals => {:tag_filter => 'academic', :work => true}) %>
            </ul>
        </div>

<!--

        <div class="span4">
            <h3><%= I18n.t :works_webdev %></h3>
            <ul class="icons icon-plus-list">
                <%= partial('partials/tagged_articles', :locals => {:tag_filter => 'webdev', :work => true}) %>
            </ul>
        </div>
-->

        <div class="span4">
            <h3><%= I18n.t :works_misc %></h3>
            <ul class="icons icon-bubble-list nospace">
                <%= partial('partials/tagged_articles', :locals => {:tag_filter => 'misc', :work => true}) %>
            </ul>
        </div>

        <div class="span3">
            <h3><%= I18n.t :works_qt %></h3>
            <ul class="icons icon-bubble-list nospace">
                <li><i>Раздел в разработке</i></li>
            </ul>
        </div>
    </div>
    </div>
</article>